<section class="intro-container">
        <h1>{{fullName}}</h1>
        <div
            class="text-container">
            <p>{{introText}}</p>
            <p>Currently, I am seeking a junior position in the UK or remote in Europe.
                If you reviewed my work in the <a class="text-link" routerLink="/projects">projects
                    section</a>
                and found it appealing,
                please feel free to <a class="text-link" routerLink="/contact">contact me</a>.
            </p>
        </div>
</section>