<div class="projects-container">
   <h2>My Projects</h2>
   <div class="projects-grid">
         <div routerLink="/detail/{{project.id}}" class="project-card" *ngFor="let project of projects">
            <div class="card-inner">
               <div class="card-front">
                  <img [src]="project.imageUrl" [alt]="project.name">
                  <h3>{{ project.name }}</h3>
               </div>
               
               <div class="card-back">
                  <p>{{project.description}}</p>
                  <p class="tech-text">Key Technologies: {{project.technologies}}</p>
               </div>
            </div>
         </div>
   </div>
</div>